.pricing{
    padding-top: 50px;
    padding-bottom: 80px;
}


.pricing .card{
    position: relative;
    height: auto;
    background: #ffffffff;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 80px;
    transition: .5s;
    overflow: hidden;
    margin-bottom: 20px;
    border: 0;
    box-shadow: -1px 5px 20px 0px #525a651a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing .card:hover{
    transform: scale(1.1);
}
.pricing .card .title h2{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}
.pricing .card .price p{
    font-size: 52px;
    font-weight:600;
    position: relative;
}
.pricing .card .price span{
    position: absolute;
    font-size: 36px;
    font-weight: 300;
    bottom: 30px;
    right: 60px;
}
.pricing .card .price .plus{
    right: 85px;
}
.pricing .card .addition{
  text-align: center;
}
.pricing .card .addition li{
    margin-bottom: 12px;
    font-weight: lighter;
}
.pricing .card .addition li {
    margin-bottom: 12px;
    font-weight: lighter;
}
.pricing .card .btn {
    margin: 0 auto;
}
.pricing .card .btn button{
    background-color: #025add;
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 30px;
    margin-right: 30px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 auto;

 }