
.footer{
    background: url(./hero-bg.png) center left;
    background-size: cover;
    padding: 60px 0;
    border-radius: 0px;
    position: relative;
    background-attachment: fixed;
}
.footer::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 0;
    opacity: 0.8;
}
.left-footer{
    position: relative;
    z-index: 1;
    color: white;
}
.left-footer .logo-footer{
    max-width: 200px;
    margin-bottom: 30px;
    transition: 0.4s all ;

}
.left-footer .logo-footer:hover{
    transform: scale(1.1);
}
.left-footer .text p{
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: lighter;
    color: #ffffff;
    line-height: 28px;
}
.left-footer .text h4{
    color:#025add;
    display: block;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.left-footer .icons a{
    margin-right: 20px;
    font-size: 17px;
    color: #fff;
}


.services-footer{
     position: relative;
    z-index: 1;
    color: white;
}
.services-footer h2{
    color:#025add;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}
.services-footer .list li{
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: 0.3s all ;
    cursor: pointer;
    }
.services-footer .list li:hover{
    color: #025add;
}


.information-footer{
     position: relative;
    z-index: 1;
    color: white;
}
.information-footer h2{
    color:#025add;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}
.information-footer .list li{
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: 0.3s all ;
    cursor: pointer;
    }
.information-footer .list li:hover{
    color: #025add;
}


.contacts-footer{ 
    position: relative;
    z-index: 1;
    color: white;
}
.contacts-footer h2 ,
.contacts-footer .text h4{
    color: #025add;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}
.contacts-footer .text p {
    margin-bottom: 16px;
    font-size: 15px;
    color: #ffffff;
    line-height: 28px;
}
.contacts-footer .text .icons{
    font-size: 17px;
    margin-right: 5px;
}
.contacts-footer .sub-form{
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}
.sub-form input{
    width: 100%;
    padding: 14px 28px;
    background: #e4e4e4;
    border: 1px solid #e4e4e4;
    color: #222222;
    outline: none;
}
.sub-form button{
    position: absolute;
    right: -3px;
    background: transparent;
    border: 0;
    top: 2px;
}
.sub-form .icon{
    color: #025add;
    font-size: 3rem;
    transform: rotate(-6deg);
}